# .NET, Visual Studio ve Rider için .gitignore
bin/
obj/
.vs/
*.user
*.suo
*.db
*.sqlite
*.log
*.DS_Store

# appsettings.json ve varyantlarý gizli tutulmalý
appsettings.json
appsettings.Development.json
appsettings.Production.json
# Sadece örnek dosya hariç
!appsettings.example.json

# Google Cloud Service Account JSON dosyalarý (GÜVENLÝK AÇIÐI!)
*-k1-*.json
famous-modem-465613-k1-bf89e7e629b6.json
famous-modem-465613-k1-e34190f6e788.json

# Tesseract OCR proje klasörü sonuç dosyalarý
Project07_TesseractOcrConsole/Sonuclar/

# Google Vision OCR proje klasörü sonuç dosyalarý
Project08_GoogleVisionOcrConsole/Results/
